.header{
  margin: 40px 0;
}
.navigation {
 max-width: 1200px;
 width: 80%;
 margin: 0 auto;
}

@media only screen and (max-width: 425px) {
  .navigation {
    margin: 15% auto 0;
   }
}

.navigation__list {
  list-style-type:none;
  padding: 0;
  margin: 0;
  display:flex;
  justify-content: flex-end;

}  

.navigation__list-item {
   padding-right: 8%;
}

.navigation__list-item:last-of-type {
  padding-right: 0;
}

.navigation__link {
  text-decoration:none;
    color:#444;
}